@charset "UTF-8";
/* rich black forgra 29*/
/* beau blue*/
/* Z-INDEX */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  height: 100vh;
  min-width: 400px;
  width: 100vw;
}

body * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100vw;
}

nav {
  margin: 0;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.p-1 {
  padding: .125;
}

.p-2 {
  padding: .25rem;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 40;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.backdrop.show {
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
  display: block;
  opacity: 1;
}

div.show {
  display: block;
}

div.hide {
  display: none;
}

/* BUTTONS */
button {
  border: none;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 0;
}

button.success {
  background-color: #22333b;
  color: white;
  font-weight: 300;
}

button.warning {
  background-color: #87602b;
  color: white;
  font-weight: 300;
}

button.danger {
  background-color: #f52c2c;
  color: white;
  font-weight: 300;
}

button.success:hover {
  background-color: #0f161a;
  color: white;
  font-weight: 500;
}

button.warning:hover {
  background-color: #614620;
  color: white;
  font-weight: 500;
}

button.danger:hover {
  background-color: #a61e1e;
  color: white;
  font-weight: 500;
}

button.success:disabled {
  background-color: #cbd9e1;
}

button.warning:disabled {
  background-color: #847664;
}

button.danger:disabled {
  background-color: #f19595;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

[class*="col-"] {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* phone - 600px */
@media only screen and (min-width: 37.5em) {
  /* For desktop: */
  .col-1-sm {
    width: 8.33%;
  }
  .col-2-sm {
    width: 16.66%;
  }
  .col-3-sm {
    width: 25%;
  }
  .col-4-sm {
    width: 33.33%;
  }
  .col-5-sm {
    width: 41.66%;
  }
  .col-6-sm {
    width: 50%;
  }
  .col-7-sm {
    width: 58.33%;
  }
  .col-8-sm {
    width: 66.66%;
  }
  .col-9-sm {
    width: 75%;
  }
  .col-10-sm {
    width: 83.33%;
  }
  .col-11-sm {
    width: 91.66%;
  }
  .col-12-sm {
    width: 100%;
  }
}

/* tab-port -900px */
@media only screen and (min-width: 56.25em) {
  .col-1-m {
    width: 8.33%;
  }
  .col-2-m {
    width: 16.66%;
  }
  .col-3-m {
    width: 25%;
  }
  .col-4-m {
    width: 33.33%;
  }
  .col-5-m {
    width: 41.66%;
  }
  .col-6-m {
    width: 50%;
  }
  .col-7-m {
    width: 58.33%;
  }
  .col-8-m {
    width: 66.66%;
  }
  .col-9-m {
    width: 75%;
  }
  .col-10-m {
    width: 83.33%;
  }
  .col-11-m {
    width: 91.66%;
  }
  .col-12-m {
    width: 100%;
  }
}

/* tab-land - 1200px*/
@media only screen and (min-width: 75em) {
  .col-1-lg {
    width: 8.33%;
  }
  .col-2-lg {
    width: 16.66%;
  }
  .col-3-lg {
    width: 25%;
  }
  .col-4-lg {
    width: 33.33%;
  }
  .col-5-lg {
    width: 41.66%;
  }
  .col-6-lg {
    width: 50%;
  }
  .col-7-lg {
    width: 58.33%;
  }
  .col-8-lg {
    width: 66.66%;
  }
  .col-9-lg {
    width: 75%;
  }
  .col-10-lg {
    width: 83.33%;
  }
  .col-11-lg {
    width: 91.66%;
  }
  .col-12-lg {
    width: 100%;
  }
}

/* big-desktop - 1800px */
@media only screen and (min-width: 112.5em) {
  .col-1-xlg {
    width: 8.33%;
  }
  .col-2-xlg {
    width: 16.66%;
  }
  .col-3-xlg {
    width: 25%;
  }
  .col-4-xlg {
    width: 33.33%;
  }
  .col-5-xlg {
    width: 41.66%;
  }
  .col-6-xlg {
    width: 50%;
  }
  .col-7-xlg {
    width: 58.33%;
  }
  .col-8-xlg {
    width: 66.66%;
  }
  .col-9-xlg {
    width: 75%;
  }
  .col-10-xlg {
    width: 83.33%;
  }
  .col-11-xlg {
    width: 91.66%;
  }
  .col-12-xlg {
    width: 100%;
  }
}

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.translate-x {
  -webkit-transform-origin: top center;
          transform-origin: top center;
}

@-webkit-keyframes translateXIn {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@keyframes translateXIn {
  0% {
    display: block;
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  80% {
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
}

@-webkit-keyframes translateXOut {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  40% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: none;
  }
}

@keyframes translateXOut {
  0% {
    display: block;
    opacity: 1;
    -webkit-transform: translate(0%);
            transform: translate(0%);
  }
  40% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    display: none;
  }
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: #884400;
  width: 100%;
  padding: .6rem .75rem;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  color: white;
}

.dropdown:after {
  content: '▼';
  font-size: 10px;
  margin-left: .5rem;
}

.dropdown__menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 0;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.dropdown__menu a:last-child {
  border-bottom: none;
}

.dropdown__menu a {
  display: block;
  background: #a86d00;
  opacity: 0;
  text-decoration: none;
  border-top: 1px solid #a86d00;
  border-bottom: 1px solid #764c00;
  color: #eee;
  padding: 0.5em 1rem;
}

.dropdown__menu a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #222;
}

.show {
  display: block;
}

/* rich black forgra 29*/
/* beau blue*/
/* Z-INDEX */
nav {
  position: fixed;
  right: 0;
  top: 2rem;
  z-index: 10;
  width: 100px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding-left: 1rem;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
  background-color: #a86d00;
}

nav:hover {
  width: 115px;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}

.nav__edge-angle {
  position: absolute;
  left: -25px;
  top: 0;
  height: 0;
  width: 0;
  border-right: .1rem solid transparent;
  border-left: 25px solid transparent;
  border-top: 37px solid #a86d00;
}

ul {
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  padding: .5rem .75rem;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
  z-index: 1;
}

li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background: #743705;
  visibility: hidden;
  border-radius: 5px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: .25s linear;
  transition: .25s linear;
}

li:hover:before,
li:focus:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.interest {
  padding: 1rem;
  cursor: pointer;
}

.interest .holder > div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.interest .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: white;
  -webkit-box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
          box-shadow: 1px 1px 2px rgba(128, 128, 128, 0.5);
  border: 1px solid lightgrey;
}

.interest .modal .container {
  margin: 0;
}

.interest .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 6px;
  height: 40px;
  overflow: hidden;
}

.interest .content.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 0;
}

.interest .header {
  width: 100%;
  margin-bottom: .5rem;
  /* texts */
  font-size: 3rem;
  font-weight: 500;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 1rem;
  color: white;
  /* image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1.3;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  max-height: 40vh;
}

.interest .content {
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: rgba(255, 255, 255, 0.2);
}

.interest .text {
  display: block;
  text-overflow: ellipsis;
  height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

.modal .content {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  max-height: calc(40vh);
}

.modal .text {
  overflow-y: auto;
  white-space: normal;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: justify;
}

.focus {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  -webkit-transition: grow .5s;
  transition: grow .5s;
}

.modal .focus {
  width: 70vw;
}

.modal .interest {
  width: 100%;
}

@-webkit-keyframes grow {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@keyframes grow {
  from {
    scale: 1;
  }
  to {
    scale: 1.5;
  }
}

@media only screen and (min-width: 600px) {
  .interest__header {
    font-size: 6vw;
  }
}

@media only screen and (min-width: 1200px) {
  .interest__header {
    font-size: 3vw;
  }
}

.skillContainer {
  padding-inline: .25rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  height: 40px;
}

.modal .skillContainer {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.skill {
  border-radius: 6px;
  padding: .25rem .5rem;
  margin: .5rem;
  background-color: white;
  border: 1px solid #454545;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__image {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: .5rem;
  border-radius: 50%;
  height: 1rem;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.skill_name {
  font-weight: 500;
  font-size: 1rem;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .close__btn {
  position: absolute;
  top: 5%;
  right: 5%;
  background-color: #ffffff67;
  color: black;
}

.modal .modal.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 40;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.modal .img {
  width: 100%;
}

.modal > .container {
  max-width: 600px;
  width: 90%;
  height: auto;
  max-height: 90%;
}

.project {
  position: relative;
  width: 100%;
  cursor: pointer;
  color: white;
  /* background-color: rgba(0, 0, 0, 0.2); */
}

.project img {
  width: 100%;
}

.project .overlay {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: .5rem;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

.project .overlay * {
  color: white;
  margin-bottom: .5rem;
  text-shadow: 1px 1px #764c00;
  z-index: 21;
}

.project .overlay .go-to__btn {
  position: absolute;
  right: .5rem;
  top: .5rem;
  padding: .5rem;
  opacity: 1;
}

.project .overlay .go-to__btn a {
  margin: 0;
  text-shadow: none;
}

.project .overlay .techs {
  font-size: clamp(0.7rem, 3vw, 1.25rem);
}

.project .overlay .c_backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #a86d00;
  opacity: .85;
  z-index: 20;
}

.project .title {
  font-weight: 700;
  font-size: clamp(1rem, 1.5rem, 3rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.project:hover .overlay {
  opacity: 1;
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
}

@media only screen and (min-width: 600px) {
  .project {
    width: 50%;
  }
  .description {
    font-size: clamp(0.75rem, 1.8vw, 1rem);
  }
  .techs {
    font-size: clamp(0.7rem, 1.6vw, 0.9rem);
  }
}

@media only screen and (min-width: 768px) {
  .description {
    font-size: clamp(0.75rem, 1.8vw, 1rem);
    padding-inline: 10%;
  }
}

@media only screen and (min-width: 1200px) {
  .description {
    font-size: 1.25rem;
    padding-inline: 20%;
  }
}

#about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem 1rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#22333b), to(#f8f5f1));
  background-image: linear-gradient(to bottom right, #22333b, #f8f5f1);
}

#about .title {
  margin-bottom: 2rem;
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

#about .subtitle {
  font-style: italic;
}

#about .holder {
  padding: 1rem;
  width: 100%;
}

.hero {
  display: block;
  position: relative;
  width: 100%;
  min-height: 500px;
  max-height: 90%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.1))), url("https://res.cloudinary.com/sventerprise/image/upload/v1649276256/CT-Portfolio/rome_jj1ohn.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://res.cloudinary.com/sventerprise/image/upload/v1649276256/CT-Portfolio/rome_jj1ohn.jpg");
  background-size: cover;
  background-position: right;
}

.hero .text {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 2rem;
  margin-right: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.2);
  justify-self: flex-end;
  /* align-self: flex-end; */
  max-width: 15rem;
}

.hero .title {
  font-size: 4rem;
  font-weight: 800;
  line-height: 4rem;
  margin-bottom: 1rem;
  color: white;
  text-align: left;
}

.hero .subtitle {
  color: white;
  font-weight: 500;
  text-align: left;
  font-style: normal;
}

#projects * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 2rem 1rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#22333b), to(#f8f5f1));
  background-image: linear-gradient(to bottom right, #22333b, #f8f5f1);
}

#projects .box {
  margin-top: 2rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f8f5f1;
  padding: 2rem;
}

#contact form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* width: 50%; */
  max-width: 400px;
  padding: .75rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

#contact input {
  margin-bottom: .5rem;
}

#contact .header {
  color: #000;
}

#contact .label {
  font-weight: 500;
  margin-bottom: .5rem;
}

#contactsection {
  background-image: none;
}

.textInput {
  padding: .5rem;
}

.message {
  width: 100%;
  padding: 1rem;
  margin-bottom: .75rem;
}

.form-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blurb {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  padding: .75rem;
  /* background-color: rgba(255, 255, 255, .8); */
}

.blurb img {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.action-area {
  /* justify-content: space-between;   */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

#errors {
  color: tomato;
  font-weight: 500;
  min-width: 100px;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.submit {
  margin-left: auto;
}

@media only screen and (min-width: 600px) {
  .blurb {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  #contact form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 1rem 1rem;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#22333b), to(#f8f5f1));
  background-image: linear-gradient(to bottom right, #22333b, #f8f5f1);
}

.title {
  margin-bottom: 2rem;
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

.subtitle {
  font-style: italic;
}

.header {
  margin-bottom: 2rem;
  color: white;
  font-size: 4rem;
  font-weight: 500;
}

.project__subheader {
  font-style: italic;
}

.project__box {
  margin-top: 2rem;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/*# sourceMappingURL=index.css.map */